<!DOCTYPE html>
<html> 
	<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js" ></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(document).ready(function(){
			var url = 'http://localhost';
			//var url = 'http://10.29.2.146';
			function put(data){
				var date = new Date();
				list.prepend($('<li>' + data.name + ": " + data.value + ' (' + date + ')</li>'));
			}

			var msg = $('#msg'),
			list    = $('#list'),
			frm     = $('#form'),
			canvas  = $('#canvas'),
			message = $('#message');
			message2 = $('#message2');


			socket = io.connect(url)
			socket.on('ret', function (data) {
				put(data);
			});
			frm.submit(function(){
				socket.emit('push', { value: msg.val() });
				put({ name: 'mine', value: msg.val()});
				msg.val('');
				return false;
			});
			socket.json.emit('start', new Date().getTime().toString());

			$('#draw').click(function(){
				var c = document.getElementById('canvas');
				var ctx = c.getContext('2d');
				ctx.strokeRect(0, 0, c.width, c.height);
				console.log(c);
			});

			var drawFlag = false;
			var can = document.getElementById('canvas');
			var ctx = can.getContext('2d');

			can.width  = 500;
			can.height = 500;


			ctx.lineWidth = 5;
			ctx.storokeStyle = "#9ea1a3";

			can.addEventListener('mousedown', function(e){
				drawFlag = true;
				ctx.beginPath();
				ctx.moveTo(e.offsetX, e.offsetY);
				message.text(e.offsetX + ',' + e.offsetY);
			}, false);

			window.addEventListener('mousemove', function(e){
				if(!drawFlag) return;
				ctx.lineTo(e.offsetX, e.offsetY);
				ctx.stroke();
				message2.text(e.offsetX + ',' + e.offsetY);
			}, false);

			window.addEventListener('mouseup', function(e){
				if(!drawFlag) return;
				ctx.lineTo(e.offsetX, e.offsetY);
				ctx.stroke();
				ctx.closePath();
				message2.text(e.offsetX + ',' + e.offsetY);
				drawFlag = false;
			}, false);

		});
	</script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<form action="" id="form">
		<input type="text" id="msg" size="40" />
		<input type="submit" id="push" value="push" />
	</form>
	<a id="draw">click</a>
	<div id="message"></div>
	<div id="message2"></div>
	<ul id="list"></ul>

	<canvas id="canvas" ></canvas>
</body>
</html>

